*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Cuprum', sans-serif;
}

a {
  text-decoration: none;
}

.about-block__name {
  font-size: 30px;
  text-transform: uppercase;
}

.section-header__title {
  font-size: 30px;
}

.header {
  padding-bottom: 60px;
}

.header,
.services {
  background-color: #f4f7f9;
}

.header ul {
  list-style: none;
}

.top-nav {
  background-color: #293449;
  font-size: 17px;
}

.top-nav a {
  color: #ffffff;
}

.top-nav__block {
  display: flex;
  justify-content: space-between;

}

.search-form {
  flex-grow: 1;
  position: relative;
}

.search-form button {
  background-color: transparent;
  border: none;
}

.search-submit {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.5;
  fill: #fff;
}

.search-icon {
  width: 17px;
  height: 17px;
}

.login-icon {
  margin-right: 11px;
  margin-left: -11px;
}


.search {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 48px;
}

.search:hover {
  background-color: #212a3a;
}

.search:hover~.search-submit {
  opacity: 1;
}

.search:focus {
  background-color: #fff;
  color: #000;
}

.search:focus~.search-submit {
  fill: red;
  color: #000;
  opacity: 1;
}


.search-form input::placeholder {
  color: #fff;
}


.logo {
  background-color: #ee3643;
  padding: 13px;
  margin-bottom: -5px;
  min-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -5px 0 rgba(0, 0, 0, 0.24);
}

.logo-image {
  width: 109px;
  height: 19px;
  margin-bottom: 2px;
}

.logo:hover {
  background-color: #ca2c37;
}

.user-nav {
  display: flex;
}

.user-nav li {
  display: flex;
}

.user-nav a {
  display: flex;
  align-items: center;
  letter-spacing: 0.025px;
  padding: 0 30px 0 16px;
}

.user-nav a:hover {
  background-color: #212a3a;
}


.user-nav a:hover svg {
  opacity: 1;
}

.user-nav a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-nav a:active svg {
  opacity: 0.4;
}

.user-nav svg {
  opacity: 0.4;
}

.bookmark-icon {
  width: 14px;
  height: 16px;
  margin-right: 14px;
}

.cart-icon {
  width: 15px;
  height: 15px;
  margin-right: 16px;
}

.user-cart a {
  width: 150px;
  background-color: #ee3643;
  padding: 0px 0px 0 18px;
}

.bookmark a {
  padding: 0px 27px 0 12px;
}

.checkout a {
  padding: 0 21px;
  background-color: #63a63e;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 46px 0;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 46px 0 43px 0;
}

.header-text {
  color: #ee3643;
  font-size: 16px;
  width: 200px;
  height: 60px;
  line-height: 1.44;
  font-weight: normal;
  font-style: italic;
  margin-left: 52px;
  padding-top: 3px;
}

.header-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 9px;
}

.header-phone a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 21px;
  width: 270px;
  height: 45px;
  margin-bottom: 0;
  padding-right: 50px;
  color: #ee3643;
  border: 3px solid #fff;
}

.phone-icon {
  margin-left: 11px;
}

.header-adress {
  padding-top: 7px;
  font-size: 14px;
  color: #32425c;
}

.header-adress__catalog {
  padding-top: 8px;
  font-size: 14px;
  color: #32425c;
}

.header-links {
  display: flex;
}

.user-loggin {
  display: block;
}

.user-links {
  display: block;
}

.user-cabinet,
.user-orders {
  display: inline-block;
}

.user-orders .user-orders__link {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  margin-top: 7px;
  margin-left: 12px;
  padding: 0;
  position: relative;
}

.user-cabinet .user-cabinet__link {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  margin-top: 7px;
  margin-left: 29px;
  padding: 0;
  position: relative;
}

.user-orders .user-orders__link:hover,
.user-cabinet .user-cabinet__link:hover {
  color: #ee3643;
}

.user-orders .user-orders__link:active,
.user-cabinet .user-cabinet__link:active {
  color: #CFD4D9;
}

.user-cabinet .user-cabinet__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translate(0, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.header-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 21px;
  background-color: #fff;
  margin-left: 10px;
  padding: 10px 25px;
}

.header-links a:hover {
  color: #ee3643;
}

.user-loggin .user-logged__link {
  display: flex;
  width: 299px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 21px;
  background-color: #fff;
  margin-left: -6px;
  padding: 0;
}



.user-logged__link .user-icon,
.user-logged__link .logout-icon {
  fill: #C5C5C5;
}

.user-logged__link:hover .user-icon,
.user-logged__link:hover .logout-icon {
  fill: #32425A;
}

.user-logged__link:active .user-icon,
.user-logged__link:active .logout-icon,
.user-logged__link:active {
  color: #C5C5C5;
  fill: #C5C5C5;
}



.logged-link {
  list-style: none;
}

.logout-icon {
  margin-left: auto;
  margin-right: 10px;
}

.user-icon {
  margin-left: 13px;
  margin-right: 13px;
}

.navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
}

.navigation li {
  padding: 0 28px;
}


.navigation a {
  display: block;
  padding: 17px 0 22px 0;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.navigation-active a,
.navigation-active a:hover,
.navigation-active a:active {
  background-color: #32425A;
  color: #ffffff;
  cursor: default;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.promo {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  margin-top: 60px;
}

.promo-slider {
  margin-top: 20px;
  width: 620px;
  height: 266px;
  position: relative;
  overflow: hidden;
}

.promo-slider__slide {
  display: none;
}

.promo-slider__active {
  display: block;
}

.promo-slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.promo-slider__header {
  color: #fff;
  padding: 20px 24px;
}

.promo-slider__title {
  text-transform: uppercase;
}

.promo-block {
  width: 300px;
  height: 123px;
  margin-left: 20px;
  padding: 20px 23px 15px;
  position: relative;
}

.promo-block__icon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.materials-icon {
  right: 43px;
}

.discount-icon {
  top: 24px;
  right: 45px;
}

.promo-block__name {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.promo h3 {
  font-size: 36px;
}

.promo-materials {
  background-color: #ffbf47;
  margin-left: 0;
}

.promo-tool {
  background-color: #3bbce3;
}

.promo-equipment {
  background-color: #dc91d8;
}

.promo-discounts {
  background-color: #8ed78f;
  margin-top: 20px;
}

.promo-delivery {
  background-color: #ffc047;
  margin-top: 20px;
}

.promo-tagline {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.10);
  padding: 10px 0;
  text-align: center;
  margin-top: 15px;
  margin-left: 2px;
  border-radius: 3px;
  width: 135px;
  height: 38px;
  cursor: pointer;
  border: none;
}

.promo-tagline:hover {
  background-color: rgba(0, 0, 0, 0.20);
}


.promo-tagline:active {
  background-color: rgba(0, 0, 0, 0.30);
}

.promo-slider__tagline {
  font-size: 18px;
}

.promo-slider__link {
  position: absolute;
  bottom: 23px;
  left: 25px;
  background-color: #ee3643;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  width: 195px;
  height: 38px;
  text-align: center;
  padding-top: 11px;
  border-radius: 3px;
  z-index: 2;
}

.promo-slider__link:hover {
  background-color: #ca2c37;
}

.promo-slider__link:active {
  background-color: #ba2732;
}

.slider-button__left {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 2;
  transform: translate(0, -50%);
  background: none;
  border: none;
}

.slider-button__right {
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 2;
  transform: translate(0, -50%);
  background: none;
  border: none;
}

.slider-button__left:hover,
.slider-button__right:hover {
  cursor: pointer;
  opacity: 0.5;
}

.promo-slider__dots {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 33px;
  z-index: 2;
  display: flex;
}

.promo-slider__dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6px;
  position: relative;
}

.active-dot:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.goods-header {
  margin-top: 50px;
  padding: 26px 26px 26px 30px;
  margin-bottom: 0;
}

.brands-header {
  margin-top: 20px;
  padding: 26px 26px 26px 30px;
}

.section-header a,
.site-button {
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  padding: 11px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.site-button:hover,
.section-header a:hover {
  background-color: #ca2c37;
}

.site-button:active,
.section-header a:active {
  background-color: #ba2732;
}



.container {
  width: 940px;
  margin: 0 auto;
}

.section-header__title {
  color: #32425c;
  font-weight: normal;
}

.goods-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
}

.goods-card {
  border: 1px solid #eaeaea;
  text-align: center;
  margin-right: 20px;
}

.goods-card .flag,
.promo-block .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 30;
}

.goods-card .flag-new,
.promo-block .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.goods-block__main article:last-child {
  margin-right: 0;
}


.goods-block__catalog article:nth-child(3n+3) {
  margin-right: 0;
}


.goods-price {
  display: inline-block;
  position: relative;
  min-width: 142px;
  height: 38px;
  background: #ee3643;
  border-radius: 3px;
  padding-top: 8px;
  margin-top: 9px;
  color: #ffffff;
  font-size: 17px;
  margin-left: 8px;
  text-align: left;
  padding-left: 36px;
}

.goods-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.goods-oldprice {
  text-decoration: line-through;
  font-size: 17px;
  color: #a9a9a9;
  margin-top: 4px;
}

.goods-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-card:hover .goods-buttons {
  display: block;
}

.goods-buttons {
  display: flex;
  flex-direction: column;

}

.goods-buttons {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 44px;
  height: 170px;
  background-color: #fff;
  display: none;
}

.buy-button {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 3px;
  width: 135px;
  height: 38px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 30px 0 13px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
  box-shadow: inset 0px -3px 0 0 #518534;
}

.buy-icon {
  margin-right: 15px;
}

.bookmark-button {
  margin-top: 8px;
  border-radius: 3px;
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  background-color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  cursor: pointer;
}

.bookmark-button:hover {
  border-color: #32425c;
  color: #32425c;
}

.bookmark-button:active {
  border-color: #C1C6CD;
  color: #C1C6CD;
}

.goods-card {
  width: 220px;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.goods-card__title {
  padding: 6px 30px;
  font-size: 18px;
}

.goods-card img {
  width: 218px;
  height: 170px;
}

.brands-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.brands-list li {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.brands-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
  padding: 25px 20px;
}

.brands-list a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list a:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.brands-list li:first-child,
.brands-list li:nth-child(5) {
  margin-left: 0;
}

.services {
  margin-top: 66px;
  padding: 62px 0 0 0;
  overflow: hidden;
}

.services-name {
  font-size: 30px;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.services-text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  width: 398px;
  margin-top: 23px;
  line-height: 1.85;
}

.services-main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 65px;
}

.services-block {
  flex-grow: 1;
  margin-left: 80px;
  position: relative;
  display: none;
}

.services-block__active {
  display: block;
}

.services-block__about {
  padding-top: 22px;
  line-height: 1.78;
  letter-spacing: 0.16px;
}

.services-block img {
  position: absolute;
  top: 27px;
  right: 0;
}

.services-block__name {
  font-size: 36px;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

.services-block p {
  width: 275px;
}

.services-main {
  padding-bottom: 97px;
}

.services-menu {
  margin-top: 5px;
  list-style: none;
  width: 240px;
  position: relative;
}

.services-menu:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 299px;
  top: -50px;
  right: 0;
  background: url('../img/shadow.png') no-repeat;
  background-size: contain;
}


.services-menu button {
  border: none;
  padding: 17px 22px;
  width: 240px;
  height: 62px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  background-color: #32425c;
  text-align: left;
  border-top: 1px solid #405067;
  border-bottom: 1px solid #293448;
  cursor: pointer;
  padding-top: 12px;
}

.services-menu button:hover {
  background-color: #293449;
  color: #ffffff;
}

button.services-menu__active {
  background-color: #fff;
  color: #32425c;
  border: none;
}


.about {
  padding: 79px 0 86px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-block__contacts {
  width: 300px;
}

.about-block__text {
  font-size: 13px;
  margin-top: 25px;
  line-height: 1.86;
  font-weight: normal;
  letter-spacing: 0.0115px;
  font-family: "PT Sans", sans-serif;
}

.about-block {
  padding-right: 100px;
}

.about .site-button {
  margin-top: 35px;
}


.about h3 {
  font-size: 30px;
}

.about h1 {
  margin: 0;
}

.about-block__name {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
}

.company-list {
  margin-top: 15px;
  list-style: none;
  font-size: 18px;
}

.company-list li {
  padding-top: 5px;
  margin-bottom: 15px;
}

.company-list li:last-child {
  margin-bottom: 0;
}

.company-list li:before {
  content: ' ';
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  margin-bottom: 4px;
  background-color: red;
}

.map-small {
  margin-top: 32px;
  display: inline-block;
}

.map-small img {
  width: 300px;
  height: 160px;
}

.contacts-block__small {
  width: 179px;
}

.footer {
  background-color: #32425c;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  text-decoration: none;
}



.footer .logo {
  padding: 23px 55px;
  width: 220px;
  height: 68px;
  padding-top: 15px;
}


.footer-top,
.footer-block,
.footer-middle {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  padding-bottom: 33px;
  align-items: center;
}

.footer-top__nav {
  list-style: none;
  display: flex;
  font-size: 18px;
  padding-top: 35px;
}

.footer-top__nav li {
  padding-right: 59px;
}

.footer-top__nav li:last-child {
  padding-right: 0;
}

.footer-top__nav a {
  color: #f1f5f7;
}

.footer-top__nav a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-block ul {
  display: flex;
}

.footer-middle {
  padding: 0 0 50px 0;
  color: #f3f7f9;
}

.footer-middle p {
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  padding-left: 3px;
}

.footer-middle .footer-number {
  display: block;
}

.footer-number a {
  color: #f3f7f9;
}

.footer-middle__nav {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.footer-middle__nav li {
  padding-right: 60px;
}

.footer-middle__nav li:last-child {
  padding-right: 0;
}

.footer-middle__nav a {
  color: #ffd180;
}

.footer-middle__nav a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
  padding: 35px 0;
  color: #fff;
  font-size: 16px;
}

.copyright {
  display: block;
  padding-top: 2px;
}

.footer-bottom a {
  display: block;
  color: #ffd180;
}

.footer-bottom a:active {
  color: #ee3643;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 164px;
}

.footer-social li {
  margin-right: 3px;
}

.footer-social a {
  background-color: #212a3a;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social a:hover {
  background-color: #ee3643;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sitebar {
  width: 220px;
}

.sitebar-block__name {
  background-color: #f7f3ec;
  padding: 8px 19px 11px 19px;
  margin-bottom: 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 1.38;
}

.goods-content {
  width: 700px;
  margin-left: 20px;
}

.goods-articles {
  display: flex;
}

.sorting {
  padding: 7px 19px 9px 19px;
  display: flex;
  background-color: #f7f3ec;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 1.38;
}

.sorting-type__one {
  display: flex;
  margin-left: 142px;
  list-style: none;
}

.sorting-type__one li {
  text-transform: uppercase;
  padding-left: 3px;
  margin-right: 71px;
}

.sorting-type__one li:last-child {
  margin-right: 0;
}

.sorting-type__one a:last-child {
  margin-left: -6px;
}

.sorting-type__one a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-type__one a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-active a {
  margin-right: 1px;
}

.sorting-active a,
.sorting-active a:hover,
.sorting-active a:active {
  color: #ee3643;
  border-bottom: none;
  cursor: default;
}

.sorting-type__second {
  display: flex;
  margin-left: auto;
  list-style: none;
  padding-top: 2px;
}

.sorting-type__second li:first-child {
  margin-right: 19px;
}

.sorting-arrow {
  fill: #c5c5c5;
}

.sorting-arrow:hover {
  fill: #000000;
}

.active-arrow,
.active-arrow:hover {
  fill: #ee3643;
  cursor: default;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin-top: 21px;
  padding-top: 1px;
  font-family: "PT Sans", sans-serif;
}

.breadcrumbs a {
  margin-right: 14px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs-arrow {
  margin-top: 3px;
  margin-right: 15px;
  border: solid #D9DCE0;
  border-width: 0 1px 1px 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 3px;
  transform: rotate(-45deg);
}

.block-h1 {
  background-color: #f2f6f8;
  padding: 31px 30px;
  margin-top: 19px;
}

.block-h1 .catalog-title {
  margin: 0;
  color: #32425c;
}

.filter-price {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-brands {
  border: none;
  border-top: 1px solid #EBEBEB;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding-top: 23px;
  font-family: "PT Sans", sans-serif;
}

.filter-power {
  border: none;
  border-top: 1px solid #EBEBEB;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  padding-top: 23px;
  font-family: "PT Sans", sans-serif;
}

.filter-brands label {
  display: flex;
  margin-bottom: 16px;
}




.pagination-block {
  margin-top: 50px;
}

.pagination {
  list-style: none;
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.pagination li {
  margin-right: 9px;
}

.pagination a {
  display: inline-block;
  min-width: 38px;
  padding: 11px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000000;
}

.pagination a:hover {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #ee3643;
}


.pagination-next a {
  padding: 11px 31px;
}

.pagination-active a {
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
}

.pagination-active a:hover {
  border-color: #ee3643;
}

.catalog-about {
  margin-top: 59px;
  padding: 62px 0 69px 0;
  background-color: #f4f7f9;
}

.catalog-about__h2 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.155px;
}

.catalog-about__text {
  margin-top: 24px;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  line-height: 1.85;
  letter-spacing: 0.155px;
}

.visually-hidden {
  display: none;
}

.map-company__button {
  width: 300px;
  height: 38px;
  padding-left: 16px;
}

.about-company__button {
  width: 220px;
  height: 38px;
}


.section-header__link {
  width: 253px;
  height: 38px;
  margin-right: -2px;
}

.footer-block__email {
  padding-top: 2px;
  margin-left: auto;
  padding-right: 52px;
}


.footer-block__info {
  padding-top: 2px;
  padding-right: 14px;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, 30px);
  }

  90% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}

.modal {
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999;
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.map-modal {
  width: 940px;
  height: 447px;
}

.map-modal iframe {
  width: 100%;
  height: 100%;
}

.close-modal {
  position: absolute;
  top: 9px;
  right: 9px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.write-us {
  width: 620px;
  height: 430px;
  border-top: 7px solid #FD545B;
  padding-top: 48px;
  font-size: 18px;
}

.write-us__input {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.write-us__input input {
  display: block;
  width: 220px;
  height: 38px;
  margin: 0 10px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding: 15px;
  font-size: 13px;
}

.write-us__input input:focus,
.write-us__textarea textarea:focus {
  border-color: #EC3847;
  outline: none;
}

.write-us__input input::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;
}


.write-us__textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.write-us__textarea textarea {
  display: block;
  width: 460px;
  min-height: 114px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding: 15px;
  font-size: 13px;
}

.write-us__textarea textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;
}

.input-name {
  display: block;
  padding-left: 10px;
  margin-bottom: 13px;
}

.textarea-name {
  width: 460px;
  display: block;
  margin-bottom: 13px;
  text-align: left;
}

.write-us__button {
  background-color: #f4f4f4;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-us__button button {
  background-color: #ee3643;
  width: 460px;
  height: 38px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  padding: 11px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-top: 0px;
  padding-left: 9px;
  margin-top: 21px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}


.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}


.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: -5px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -25px;
  top: -5px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter li {
  font-size: 15px;
  text-transform: uppercase;
}

.filter-legend {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
}

.filter-button {
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  width: 140px;
  height: 38px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 60px;
  font-family: "PT Sans", sans-serif;
}

.card-add {
  width: 620px;
  height: 290px;
  border-top: 7px solid #ee3643;
}


.card-add__top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  font-size: 30px;
}

.card-add__top p {
  margin-left: 32px;
}

.card-add__bottom {
  background-color: #f1f1f1;
  width: 620px;
  height: 120px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-button,
.shopping-button {
  width: 220px;
  height: 38px;
  margin: 0 10px;
}

.shopping-button {
  background-color: #fff;
  color: #000000;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  padding-top: 39px;
  margin-bottom: 7px;
  background-color: #f7f3ec;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 10px;
  height: 10px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
}

.price-controls label {
  width: 95px;
  height: 38px;
}


.price-controls input {
  width: 95px;
  height: 38px;
  padding-left: 7px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
}

.price-controls input:first-child {
  margin-left: 0;
}

.max-price__block {
  margin-left: auto;
  position: relative;
}

.max-price__block:after {
  content: '';
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  left: -20px;
  width: 10px;
  height: 1px;
  background-color: #444444;
}

.metabo-brand {
  padding-bottom: 10px;
}

.intercol-brand {
  padding-bottom: 12px;
}

.home-icon {
  margin-left: -2px;
}
